/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*

   GENERAL

*/
:root{
    --maincolor:#141922; 
    --colorsubtitle: #717479;   
}



.main-container-flex{
    display: flex;
    height: calc(100vh - 90px);
    background-color:var(--maincolor);
}

aside{
    width: 250px;
    background-color: black;
    height:calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.main-content{
    width: calc(100% - 250px);
    height: 100%;
}

#upgrade{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 13px;
    display: inline-block;
}

.container-nav{
    width: calc(100% - 250px);
    margin: 0 auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.cards > *{
    width: calc(100% / 6 - 20px);  
    margin: 0 10px;  
}




/*

   HEADER

*/

header{
    background-color:#080b12a2;
    position: fixed;
    width: calc(100% - 250px);
    height: 80px;
    text-align: end;
    padding: 20px 20px;
}


/*

   ASIDE

*/

.logo{
    padding: 20px;
}

.logo img:first-child{
    width: 80%;
}

.logo img:last-child{
    display: none;
}

.nav1 nav ul{
    list-style: none;
    padding: 20px;
}

.nav1 ul li img{
    width: 13%;
    margin-right: 5px;
}

.nav1 ul li a{
    text-decoration: none;
    display: inline-block;
    color: var(--colorsubtitle);
    vertical-align: sub;
}

.nav1 ul li span{
    vertical-align: super;
}

.nav1 ul li{
    margin-top: 5px;
}

.playlist{
    padding: 10px 20px;
    flex-grow: 1;
    overflow: auto;
}

.playlist h4{
    color: white;
}

.playlist div i{
    background-color: #717479;
    font-size: 35px;
    margin-top: 8px;
}

.playlist div span{
    color: var(--colorsubtitle);
    vertical-align: super;
    margin-left: 8px;
}



.newplaylist ul{
    list-style: none;
}

.newplaylist ul li{
    margin-top: 10px;
}

.newplaylist ul li a{
    text-decoration: none;
    color: var(--colorsubtitle);
    display: inline-block;
}

.asidebottom{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.download img{
    width: 8%;
}

.download span{
    color: var(--colorsubtitle);
    font-size: 12px;
    vertical-align: super;
}

.user, .download{
    margin: 10px;
}

.asidebottom hr{
    color: #535353;
    border: 1px solid;
}

.user img{
    width: 10%;
    background-color: #717479;
    border-radius: 50%;
}

.user span{
    color: white;
    font-size: 20px;
    vertical-align: super;
    font-weight: 600;
}



/*

   MAIN

*/

.total-content{
    padding-top: 100px;
    height: 100%;
    overflow-y: auto;
}

.total-content nav ul{
    list-style: none;
    text-align: center;

}

.total-content nav ul li{
    display: inline-block;
    color: var(--colorsubtitle);
    margin-right: 15px;
    font-size: 13px;
    font-weight: 600;
}

.recently-played{
    margin-top: 40px;
}


.perte{
    margin-top: 40px;
    margin-bottom: 30px;
}

.recently-played h3{
    color: white;
    margin-top: 20px;
    font-size: 23px;  
    margin-bottom: 20px; 
    margin-left: 10px;
}

.cards img{
    width: 100%;
}


.cards h5{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.cards p{
    color: var(--colorsubtitle);
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.perte h3, .popular-artist h3{
    color: white;
    margin-top: 20px;
    font-size: 23px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.perte p, .popular-artist p{
    color: var(--colorsubtitle);
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 600;
}

.imgcircle img{
    border-radius: 50%;
}

.popular-artist{
    margin-bottom: 40px;
}



/*

   FOOTER

*/

footer{
    height: 90px;
    background-color:#282828;
}

.dashboard{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}

.dashboard > *{
    width: calc(100% / 3);
}



.id-track{
    display: flex;
    align-items: center;
    padding: 15px;
    height: 100%;
}

.id-track div:first-child{
    width: 10%;
}

.id-track div:nth-child(2){
    padding-left: 10px;
}

.id-track div:nth-child(3){
    padding-left: 30px;
}

.id-track div img{
    width: 100%;
}

.id-track div h5{
    color: white;
}

.id-track div p{
    color: var(--colorsubtitle);
    font-size: 12px;
    margin-top: 5px;
}

.id-track div a{
    text-decoration: none;
    display: inline-block;
    color:var(--colorsubtitle);
    font-size: 18px;
    margin-right: 10px;
}

.comandi-dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comandi-dash > div:first-child{
    margin-bottom: 10px;
}


.comandi-dash div ul{
    list-style: none;
}

.comandi-dash div ul li{
    display: inline-block;
    margin-right: 20px;
}

.comandi-dash div ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.fa-circle-play{
    font-size: 35px;
}

.tracker div p{
    margin: 0 10px;
    color: white;
    font-size: 10px;
}

.tracker{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tracker1{
    width: 100%;
}

.trackbottom{
    background-color: gray;
    height: 4px;
    border-radius: 10px
}

.tracktop{
    background-color: white;
    width: 30%;
    height: 4px;
    border-radius: 10px;
}

.last-dashboard{
    display: flex;
    align-items: center;
    justify-content: end;
}



.last-dashboard ul{
    list-style: none;
    margin-right: 10px;
}

.last-dashboard ul li{
    display: inline-block;
}

.last-dashboard ul li a{
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
    color: white;
}

.tracker2{
    width: 30%;
    margin-right: 20px;
}

/*

   DEBUG

*/

/* .cards div{
    background-color: yellow;
    border: 1px dashed black;
    height: 200px;
    width: calc(200px - 20px);
    margin: 0 10px;
} */


