/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*

   GENERAL

*/
:root{
    --maincolor:#141922; 
    --colorsubtitle: #717479;   
}


.main-container-flex{
    display: flex;
    height: calc(100vh - 90px);
    background-color:var(--maincolor);
}

.aside{
    width: 250px;
    background-color: black;
}

.main-content{
    width: calc(100% - 250px);
    height: 100%;
}

#upgrade{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 13px;
    display: inline-block;
}

.container-nav{
    width: calc(100% - 250px);
    margin: 0 auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.cards > *{
    width: calc(100% / 6 - 20px);  
    margin: 0 10px;  
}



/*

   HEADER

*/

header{
    background-color:#080b12a2;
    position: fixed;
    width: calc(100% - 250px);
    height: 80px;
    text-align: end;
    padding: 20px 20px;
}


/*

   MAIN

*/

.total-content{
    padding-top: 100px;
    height: 100%;
    overflow: auto;
}

.total-content nav ul{
    list-style: none;
    text-align: center;

}

.total-content nav ul li{
    display: inline-block;
    color: var(--colorsubtitle);
    margin-right: 15px;
    font-size: 13px;
    font-weight: 600;
}

.recently-played{
    margin-top: 40px;
}


.perte{
    margin-top: 40px;
    margin-bottom: 30px;
}

.recently-played h3{
    color: white;
    margin-top: 20px;
    font-size: 23px;  
    margin-bottom: 20px; 
    margin-left: 10px;
}

.cards img{
    width: 100%;
}


.cards h5{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.cards p{
    color: var(--colorsubtitle);
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.perte h3, .popular-artist h3{
    color: white;
    margin-top: 20px;
    font-size: 23px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.perte p, .popular-artist p{
    color: var(--colorsubtitle);
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 600;
}

.imgcircle img{
    border-radius: 50%;
}

.popular-artist{
    margin-bottom: 40px;
}



/*

   FOOTER

*/

footer{
    height: 90px;
    background-color:#282828;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard > *{
    width: calc(100% / 3);
}


.idtrack{
    display: flex;
    align-items: center;
}

.idtrack div:nth-child(1),
.idtrack div:nth-child(2){
    margin-right: 20px;
}

.idtrack div:nth-child(3){
    margin-left: 20px;
}

.idtrack img{
    width: 60px;
    height: 60px;
    margin: 10px 0;
    margin-left: 10px;
}

.idtrack div:nth-child(2) h5 a{
    color: white;
    text-decoration: none;
}

.idtrack div:nth-child(2) p a{
    color: var(--colorsubtitle);
    font-size: 13px;
    text-decoration: none;
}

.idtrack div:nth-child(3) i{
    color: white;
    font-size: 17px;
    margin-right: 15px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon ul li{
    list-style: none;
    color: white;
    display: inline-block;
    margin: 0 15px;
}

.icon ul li i:not(.fa-circle-play){
    font-size: 22px;
}

.fa-circle-play{
    font-size: 30px;
}

.barra-minutaggio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.barra-minutaggio div:first-child, .barra-minutaggio div:last-child{
    width: 10%;
}

.barra-minutaggio div:nth-child(2){
    width: 80%;
}

.end-time{
    text-align: end;
}

.barra-minutaggio p{
    color: white;
    font-size: 600;
    font-size: 10px;
}

.barratop{
    width: 20%;
    border: 2px solid;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 4px;
}


.barrabottom{
    width: 100%;
    color: #535353;
    border: 2px solid;
    border-radius: 20px;
}

.last-control{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.last-control > *{
    width: 30%;
}

.last-control i{
    color: white;
    margin: 0 5px;
}

.last-control div:first-child{
    text-align: end;
    margin: 0 10px;
}

.volumebottom{
    width: 60%;
    color: #535353;
    border: 2px solid;
    border-radius: 20px;
}

.volumetop{
    width: 10%;
    border: 2px solid;
    color: white;
    position: absolute;
    top: 8px;
    border-radius: 20px;
}




/*

   DEBUG

*/

/* .cards div{
    background-color: yellow;
    border: 1px dashed black;
    height: 200px;
    width: calc(200px - 20px);
    margin: 0 10px;
} */



